*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Barlow', sans-serif;
  background-color: #FEFCF7;
  font-weight: 400;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 1199px) {
  .container {
    max-width: 1100px;
  }
}

@media only screen and (max-width: 770px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (max-width: 450px) {
  .container {
    max-width: 357px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 44px auto;
}

.header .logo {
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.header .logo:hover {
  opacity: .6;
}

.header .logo__img {
  width: 236px;
  height: 26px;
}

.header .icon__menu {
  display: none;
}

@media only screen and (max-width: 450px) {
  .header .icon__menu {
    display: block;
    cursor: pointer;
  }
}

@media only screen and (max-width: 450px) {
  .header .nav {
    display: none;
  }
}

.header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav__item {
  margin-left: 33px;
}

.header .nav__item:nth-child(1) {
  margin-left: 0;
}

.header .nav__link {
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  color: #83888F;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.header .nav__link:hover {
  color: #0E8784;
}

.bg {
  position: relative;
}

.bg__img {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.bg .header__write {
  position: absolute;
  color: #FEFCF7;
  width: 400px;
  top: 104px;
  left: 58px;
}

@media only screen and (max-width: 450px) {
  .bg .header__write {
    width: 279px;
    text-align: center;
    top: 100px;
    left: 24px;
  }
}

.bg .header__write .write__title {
  font-family: "Fraunces", sans-serif;
  font-size: 48px;
  line-height: 48px;
  margin: 0;
  margin-bottom: 24px;
}

@media only screen and (max-width: 450px) {
  .bg .header__write .write__title {
    font-size: 40px;
    line-height: 40px;
  }
}

.bg .header__write .write__text {
  font-size: 15px;
  line-height: 25px;
  opacity: 0.8;
  margin-bottom: 40px;
}

.bg .header__write .write__link {
  display: inline-block;
  color: #FEFCF7;
  padding: 15px 31px;
  font-family: "Fraunces", sans-serif;
  font-size: 18px;
  line-height: 25px;
  background-color: #0E8784;
  border-radius: 6px;
  -webkit-transition: 1s all cubic-bezier(0.2, -0.82, 0.58, 1);
  transition: 1s all cubic-bezier(0.2, -0.82, 0.58, 1);
}

.bg .header__write .write__link:hover {
  background-color: #66D2CF;
}

.bg .header__write .write__link:active {
  background-color: #E2DEDB;
}

@media only screen and (max-width: 770px) {
  .bg .bg__img {
    height: 500px;
  }
}

.collection {
  position: relative;
  margin-top: 262px;
}

.collection .shadow__title {
  position: absolute;
  text-align: center;
  top: -40px;
  left: 0;
  right: 0;
  font-family: "Fraunces", sans-serif;
  color: #83888fbb;
  font-size: 150px;
  line-height: 72px;
  z-index: 10;
}

@media only screen and (max-width: 1199px) {
  .collection .shadow__title {
    font-size: 120px;
  }
}

@media only screen and (max-width: 998px) {
  .collection .shadow__title {
    font-size: 90px;
  }
}

.collection .shadow__title::before {
  content: '';
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(254, 252, 247, 0.0001)), to(#FEFCF7));
  background: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 196px;
  position: absolute;
  z-index: 11;
}

@media only screen and (max-width: 450px) {
  .collection .shadow__title::before {
    width: 286px;
    height: 72px;
  }
}

.collection__list {
  position: relative;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 200px;
}

@media only screen and (max-width: 998px) {
  .collection__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .collection__list:nth-child(2) {
    margin: 110px;
    padding: -110px;
  }
}

.collection__item {
  text-align: center;
}

@media only screen and (max-width: 998px) {
  .collection__item {
    margin-bottom: 50px;
  }
}

.collection__item img {
  margin-bottom: 71px;
}

.collection__title {
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
  font-family: "Fraunces", sans-serif;
  margin-bottom: 24px;
}

.collection__text {
  width: 255px;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}

@media only screen and (max-width: 770px) {
  .collection .shadow__title {
    position: relative;
    top: 35px;
    font-size: 96px;
  }
  .collection__list {
    position: relative;
    z-index: 20;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 200px;
  }
  .collection__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .collection__item img {
    margin-bottom: 32px;
  }
  .collection__text {
    margin-bottom: 32px;
  }
}

@media only screen and (max-width: 450px) {
  .collection .shadow__title {
    position: absolute;
    font-size: 40px;
    top: -50px;
  }
  .collection .shadow__title::before {
    width: 286px;
    height: 72px;
  }
  .collection__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 120px;
  }
  .collection__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .collection__item img {
    margin-bottom: 71px;
  }
  .collection__title {
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
    font-family: "Fraunces", sans-serif;
    margin-bottom: 24px;
  }
  .collection__text {
    width: 255px;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
  }
}

.choose {
  position: relative;
  width: 100%;
  height: 577px;
  background-color: #2C343E;
  border-radius: 10px;
}

@media only screen and (max-width: 770px) {
  .choose {
    height: 573px;
  }
}

@media only screen and (max-width: 450px) {
  .choose {
    height: 902px;
  }
}

.choose__title {
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  font-family: "Fraunces", sans-serif;
  color: #FEFCF7;
  padding-top: 100px;
  margin-bottom: 32px;
}

@media only screen and (max-width: 770px) {
  .choose__title {
    font-size: 32px;
    padding-top: 56px;
    margin-bottom: 24px;
  }
}

@media only screen and (max-width: 450px) {
  .choose__title {
    font-size: 28px;
    padding-top: 64px;
    margin-bottom: 24px;
  }
}

.choose__text {
  font-size: 16px;
  line-height: 26px;
  opacity: 0.8;
  width: 540px;
  margin: 0 auto;
  text-align: center;
  color: #FEFCF7;
  margin-bottom: 86px;
}

@media only screen and (max-width: 770px) {
  .choose__text {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 70px;
  }
}

@media only screen and (max-width: 450px) {
  .choose__text {
    width: 279px;
    margin-bottom: 64px;
  }
}

.choose__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #FEFCF7;
}

@media only screen and (max-width: 998px) {
  .choose__list {
    display: block;
  }
}

.choose__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px;
  height: 382px;
  margin: 0 auto;
  border-radius: 8px;
  background-color: #0E8784;
  margin-bottom: 200px;
  margin-right: 30px;
}

.choose__item img {
  margin-top: 80px;
}

@media only screen and (max-width: 998px) {
  .choose__item img {
    margin-top: 0;
    margin-left: 90px;
  }
}

@media only screen and (max-width: 1199px) {
  .choose__item {
    width: 300px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 998px) {
  .choose__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 650px;
    height: 180px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 24px;
  }
}

@media only screen and (max-width: 770px) {
  .choose__item {
    width: 573px;
    height: 180px;
    margin: 0 auto;
    margin-bottom: 24px;
  }
}

@media only screen and (max-width: 450px) {
  .choose__item {
    width: 279px;
    height: 382px;
    margin: 0 auto;
    margin-bottom: 24px;
  }
}

.choose__item:nth-child(3) {
  margin-right: auto;
}

@media only screen and (max-width: 770px) {
  .choose__item:nth-child(3) {
    margin: 0 auto;
  }
}

.choose .choose__write {
  width: 344px;
}

.choose__subtitle {
  margin-top: 20px;
  font-family: "Fraunces", sans-serif;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 24px;
  text-align: center;
}

@media only screen and (max-width: 998px) {
  .choose__subtitle {
    margin-top: 0;
    margin-bottom: 16px;
    text-align: left;
  }
}

@media only screen and (max-width: 450px) {
  .choose__subtitle {
    margin-top: 0;
    margin-bottom: 24px;
    text-align: center;
    margin-left: 0px;
    padding-top: 200px;
  }
}

.choose__subtext {
  width: 255px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

@media only screen and (max-width: 998px) {
  .choose__subtext {
    text-align: left;
    width: 344px;
    font-size: 15px;
    line-height: 25px;
  }
}

@media only screen and (max-width: 450px) {
  .choose__subtext {
    text-align: center;
    width: 212px;
    font-size: 15px;
    line-height: 25px;
    margin: 0 auto;
  }
}

.works {
  position: relative;
  margin-top: 300px;
  margin-left: 40px;
  margin-bottom: 200px;
}

@media only screen and (max-width: 998px) {
  .works {
    margin: 0;
    margin-top: 434px;
    margin-bottom: 200px;
    margin-left: 20px;
  }
}

@media only screen and (max-width: 450px) {
  .works {
    margin: 0;
    margin-top: 717px;
    margin-bottom: 200px;
  }
}

.works__title {
  font-family: "Fraunces", sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin-bottom: 80px;
}

@media only screen and (max-width: 770px) {
  .works__title {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 450px) {
  .works__title {
    margin-bottom: 80px;
    text-align: center;
  }
}

.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 450px) {
  .works__list {
    display: block;
  }
}

.works__item {
  margin-right: 95px;
}

@media only screen and (max-width: 1199px) {
  .works__item {
    margin-right: 30px;
  }
}

@media only screen and (max-width: 770px) {
  .works__item {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 450px) {
  .works__item {
    margin-right: 0px;
    text-align: center;
  }
}

.works__item:nth-child(3) {
  margin-right: 0;
}

.works__item .number {
  font-family: "Fraunces", sans-serif;
  color: #FDD6BA;
  font-size: 72px;
  line-height: 72px;
  margin-bottom: 38px;
}

@media only screen and (max-width: 770px) {
  .works__item .number {
    margin-bottom: 42px;
  }
}

@media only screen and (max-width: 450px) {
  .works__item .number {
    text-align: center;
  }
}

.works__subtitle {
  font-family: "Fraunces", sans-serif;
  width: 255px;
  color: #333D4B;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 42px;
}

@media only screen and (max-width: 998px) {
  .works__subtitle {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 38px;
    width: 223px;
  }
}

@media only screen and (max-width: 450px) {
  .works__subtitle {
    margin: 0 auto;
    width: 327px;
    margin-bottom: 24px;
  }
}

.works__subtext {
  width: 285px;
  line-height: 26px;
  color: #333D4B;
  margin-bottom: 64px;
}

@media only screen and (max-width: 998px) {
  .works__subtext {
    width: 223px;
    line-height: 25px;
    font-size: 15px;
    margin-bottom: 44px;
  }
}

@media only screen and (max-width: 450px) {
  .works__subtext {
    margin: 0 auto;
    width: 327px;
    margin-bottom: 79px;
  }
}

.works__btn .works__link {
  display: inline-block;
  font-family: "Fraunces", sans-serif;
  font-size: 18px;
  line-height: 25px;
  border-radius: 6px;
  color: #FEFCF7;
  background-color: #0E8784;
  padding: 15px 31px;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

@media only screen and (max-width: 450px) {
  .works__btn .works__link {
    width: 217px;
    text-align: center;
    margin-left: 55px;
  }
}

.works__btn .works__link:hover {
  background-color: #66D2CF;
}

.works__btn .works__link:active {
  background-color: #E2DEDB;
}

.footer {
  background-color: #2C343E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 47px 50px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 770px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 54px 0;
    border-radius: 8px;
  }
}

@media only screen and (max-width: 450px) {
  .footer {
    width: 327px;
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 770px) {
  .footer__list {
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 65px;
  }
}

@media only screen and (max-width: 450px) {
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 65px;
  }
}

.footer__item {
  margin-left: 33px;
  text-align: left;
}

@media only screen and (max-width: 450px) {
  .footer__item {
    margin-left: 0;
    margin-bottom: 24px;
  }
}

@media only screen and (max-width: 998px) {
  .footer__item {
    margin-left: 20px;
  }
  .footer__item:nth-child(1) {
    margin-left: 0;
  }
}

@media only screen and (max-width: 770px) {
  .footer__item:nth-child(1) {
    margin-left: 0;
  }
}

@media only screen and (max-width: 450px) {
  .footer__item:nth-child(1) {
    margin-left: 0;
  }
}

.footer__link {
  color: #83888F;
  letter-spacing: 0.923077px;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
  text-transform: uppercase;
}

.footer__link:hover {
  color: #0E8784;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social .icons__link {
  margin-left: 24px;
}

.footer__social .icons__link .icons__img {
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

.footer__social .icons__link:hover .icons__img {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.footer__social .icons__link:nth-child(3) {
  margin-left: 0;
}

.footer .icon {
  fill: #FEFCF7;
  width: 24px;
  height: 24px;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
  cursor: pointer;
  margin-right: 24px;
}

.footer .icon:nth-child(3) {
  margin-right: 0;
}

.footer .icon:nth-child(3):hover {
  fill: #FDD6BA;
}

.about {
  position: relative;
}

.about__intro img {
  width: 100%;
  height: 450px;
  border-radius: 10px;
}

@media only screen and (max-width: 450px) {
  .about__intro img {
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: right;
       object-position: right;
  }
}

.about .about__write {
  position: absolute;
  width: 445px;
  top: 137px;
  left: 85px;
  color: #FEFCF7;
}

@media only screen and (max-width: 770px) {
  .about .about__write {
    top: 118px;
    left: 58px;
  }
}

@media only screen and (max-width: 450px) {
  .about .about__write {
    width: 0;
    top: 111px;
    left: 24px;
  }
}

.about .about__write .write__title {
  font-family: "Fraunces", sans-serif;
  font-size: 40px;
  line-height: 48px;
  margin: 0;
  margin-bottom: 24px;
}

@media only screen and (max-width: 770px) {
  .about .about__write .write__title {
    font-size: 32px;
    line-height: 40px;
  }
}

@media only screen and (max-width: 450px) {
  .about .about__write .write__title {
    text-align: center;
    width: 279px;
    margin-right: 0;
  }
}

.about .about__write .write__text {
  line-height: 26px;
  opacity: 0.8;
}

@media only screen and (max-width: 770px) {
  .about .about__write .write__text {
    width: 392px;
    font-size: 15px;
    line-height: 25px;
  }
}

@media only screen and (max-width: 450px) {
  .about .about__write .write__text {
    width: 279px;
    text-align: center;
  }
}

.commitment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1110px;
  margin: 0 auto;
  margin-top: 168px;
  margin-bottom: 256px;
}

@media only screen and (max-width: 770px) {
  .commitment {
    width: 720px;
    padding: 0 15px;
    margin-bottom: 304px;
  }
}

@media only screen and (max-width: 450px) {
  .commitment {
    width: 329px;
    margin: 0 auto;
    display: block;
    margin-top: 120px;
    padding: 0;
    margin-bottom: 198px;
  }
}

.commitment__img {
  width: 445px;
  height: 520px;
  border-radius: 10px;
}

@media only screen and (max-width: 770px) {
  .commitment__img {
    width: 281px;
    height: 470px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media only screen and (max-width: 450px) {
  .commitment__img {
    width: 327px;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0 auto;
    margin-bottom: 48px;
  }
}

.commitment__title {
  font-family: "Fraunces", sans-serif;
  font-size: 40px;
  line-height: 48px;
  color: #333D4B;
  margin-bottom: 32px;
}

@media only screen and (max-width: 770px) {
  .commitment__title {
    font-size: 32px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 450px) {
  .commitment__title {
    text-align: center;
  }
}

.commitment__text {
  width: 540px;
  line-height: 26px;
  opacity: .8;
  color: #333D4B;
}

@media only screen and (max-width: 770px) {
  .commitment__text {
    width: 339px;
    font-size: 15px;
    line-height: 25px;
  }
}

@media only screen and (max-width: 450px) {
  .commitment__text {
    width: 327px;
    text-align: center;
  }
}

.quality-bg {
  background-color: #2C343E;
  border-radius: 10px;
  height: 474px;
  margin-bottom: 168px;
  width: 100%;
}

@media only screen and (max-width: 450px) {
  .quality-bg {
    padding: 0;
  }
}

.quality {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}

@media only screen and (max-width: 770px) {
  .quality {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width: 450px) {
  .quality {
    padding: 0;
    width: 327px;
  }
}

.quality__title {
  font-family: "Fraunces", sans-serif;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
  margin-bottom: 32px;
  margin-top: 88px;
}

@media only screen and (max-width: 770px) {
  .quality__title {
    margin-top: 224px;
    margin-bottom: 24px;
    font-size: 32px;
    margin-left: 120px;
  }
}

@media only screen and (max-width: 450px) {
  .quality__title {
    font-size: 28px;
    line-height: 28px;
    width: 327px;
    text-align: center;
    margin-left: 0;
    margin-top: 142px;
  }
}

.quality__text {
  width: 540px;
  color: #FEFCF7;
  line-height: 26px;
  opacity: 0.8;
}

@media only screen and (max-width: 770px) {
  .quality__text {
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    margin: 0 auto;
    margin-left: 65px;
  }
}

@media only screen and (max-width: 450px) {
  .quality__text {
    width: 279px;
    margin-left: auto;
  }
}

.quality__img img {
  position: absolute;
  border-radius: 10px;
  right: 0;
  top: -88px;
}

@media only screen and (max-width: 770px) {
  .quality__img img {
    width: 573px;
    height: 320px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: bottom;
       object-position: bottom;
    top: -160px;
    left: 45px;
  }
}

@media only screen and (max-width: 450px) {
  .quality__img img {
    width: 279px;
    height: 156px;
    top: -78px;
    left: 24px;
  }
}

.headquarters {
  width: 1110px;
  margin: 0 auto;
}

@media only screen and (max-width: 770px) {
  .headquarters {
    width: 720px;
    padding: 0 15px;
  }
}

@media only screen and (max-width: 450px) {
  .headquarters {
    width: 327px;
    padding: 0;
  }
}

.headquarters__title {
  font-family: "Fraunces", sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin-bottom: 72px;
}

@media only screen and (max-width: 450px) {
  .headquarters__title {
    width: 327px;
    text-align: center;
  }
}

.headquarters__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 168px;
}

@media only screen and (max-width: 770px) {
  .headquarters__list {
    margin-bottom: 244px;
  }
}

@media only screen and (max-width: 450px) {
  .headquarters__list {
    display: block;
  }
}

.headquarters__item {
  margin-right: 95px;
  width: 285px;
  height: 262px;
}

@media only screen and (max-width: 770px) {
  .headquarters__item {
    width: 223px;
    height: 104px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 450px) {
  .headquarters__item {
    width: 327px;
    height: 262px;
    margin-bottom: 80px;
  }
}

.headquarters__item::before {
  content: '';
  position: absolute;
  background-image: url(../../../img/about/headquarters-1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 41px;
  height: 49px;
}

@media only screen and (max-width: 450px) {
  .headquarters__item::before {
    left: 160px;
  }
}

.headquarters .canada {
  position: relative;
}

.headquarters .canada::before {
  content: '';
  position: absolute;
  background-image: url(../../../img/about/headquarters-3.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 51px;
  height: 50px;
}

@media only screen and (max-width: 450px) {
  .headquarters .canada::before {
    left: 138px;
  }
}

.headquarters .australia {
  position: relative;
}

.headquarters .australia::before {
  content: '';
  position: absolute;
  background-image: url(../../../img/about/headquarters-2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 49px;
  height: 44px;
}

@media only screen and (max-width: 450px) {
  .headquarters .australia::before {
    left: 138px;
  }
}

.headquarters__subtitle {
  font-family: "Fraunces", sans-serif;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
  margin-bottom: 24px;
  margin-top: 95px;
}

@media only screen and (max-width: 770px) {
  .headquarters__subtitle {
    font-size: 24px;
  }
}

@media only screen and (max-width: 450px) {
  .headquarters__subtitle {
    margin-top: 0;
    padding-top: 97px;
    text-align: center;
  }
}

.headquarters__subtext {
  line-height: 26px;
}

@media only screen and (max-width: 450px) {
  .headquarters__subtext {
    text-align: center;
  }
}

.create__intro {
  position: relative;
  margin-bottom: 177px;
}

.create__intro .create-bg img {
  width: 100%;
  height: 450px;
}

@media only screen and (max-width: 450px) {
  .create__intro .create-bg img {
    height: 400px;
  }
}

.create__intro .create__write {
  position: absolute;
  width: 445px;
  top: 137px;
  left: 85px;
  color: #FEFCF7;
}

@media only screen and (max-width: 450px) {
  .create__intro .create__write {
    top: 101px;
    left: 40px;
    width: 279px;
  }
}

.create__intro .create__write .create__title {
  font-family: "Fraunces", sans-serif;
  font-size: 40px;
  line-height: 48px;
  margin: 0;
  margin-bottom: 24px;
}

@media only screen and (max-width: 450px) {
  .create__intro .create__write .create__title {
    line-height: 40px;
    text-align: center;
  }
}

.create__intro .create__write .create__text {
  line-height: 26px;
}

@media only screen and (max-width: 450px) {
  .create__intro .create__write .create__text {
    text-align: center;
    width: 279px;
  }
}

.works__create {
  background-color: #2C343E;
  padding: 91px 150px 107px 85px;
  margin-bottom: 159px;
  border-radius: 10px;
}

.works__create .fc {
  color: #FEFCF7;
}

@media only screen and (max-width: 450px) {
  .works__create {
    padding: 80px 0;
  }
}

.elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 791px;
  height: 2px;
  background-color: #FDD6BA;
  margin-bottom: 67px;
}

@media only screen and (max-width: 450px) {
  .elements {
    display: none;
  }
}

.element {
  display: inline-block;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  border: 2px solid #0E8784;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #2C343E;
}

.element__bg {
  background-color: #FEFCF7;
}

@media only screen and (max-width: 998px) {
  .elements {
    width: 620px;
    margin-bottom: 48px;
  }
}

@media only screen and (max-width: 770px) {
  .elements {
    width: 497px;
    margin-bottom: 48px;
  }
}

@media only screen and (max-width: 770px) {
  .works__bg {
    border-radius: 10px;
    background-color: #2C343E;
    margin-top: 0;
  }
  .works__create {
    padding-left: 0;
  }
}

.drink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 85px;
}

@media only screen and (max-width: 770px) {
  .drink {
    padding: 0 15px;
  }
}

.drink .menu {
  width: 255px;
}

@media only screen and (max-width: 770px) {
  .drink .menu {
    display: none;
  }
}

.drink .menu__item {
  border-bottom: 1px solid rgba(131, 136, 143, 0.25);
}

.drink .menu__item .menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background-color: transparent;
  font-size: 24px;
  line-height: 32px;
  font-family: "Fraunces", sans-serif;
  color: #333D4B;
  opacity: .4;
  padding-top: 24px;
  padding-bottom: 24px;
  cursor: pointer;
}

.drink .menu__item .menu__number {
  display: inline-block;
  margin-right: 28.5px;
  color: #83888F;
}

.drink .menu__item .color-syan {
  color: #0E8784;
}

.drink .menu__item .menu__active {
  opacity: 1;
}

.drink .answers__item {
  margin-bottom: 88px;
}

.drink .answers .answers__title {
  position: relative;
  font-size: 40px;
  line-height: 48px;
  color: #83888F;
  font-family: "Fraunces", sans-serif;
  margin-bottom: 56px;
}

@media only screen and (max-width: 770px) {
  .drink .answers .answers__title {
    font-size: 32px;
  }
}

@media only screen and (max-width: 450px) {
  .drink .answers .answers__title {
    font-size: 24px;
    line-height: 28px;
    width: 240px;
    margin-bottom: 32px;
  }
}

.drink .answers .answers__title::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 13px;
  background-image: url(../../../img/create-plan/drink.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  right: 0;
  top: 20px;
}

@media only screen and (max-width: 450px) {
  .drink .answers .answers__title::after {
    right: -88px;
  }
}

.drink .answers .answers__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 450px) {
  .drink .answers .answers__info {
    display: block;
  }
}

.drink .answers .answers__info .info__item {
  width: 228px;
  margin-right: 23px;
  padding: 32px 28px 84px;
  background-color: #F4F1EB;
  border-radius: 8px;
  color: #333D4B;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

.drink .answers .answers__info .info__item:hover {
  background-color: #FDD6BA;
}

@media only screen and (max-width: 770px) {
  .drink .answers .answers__info .info__item {
    margin-right: 10px;
    padding: 32px 25px 84px;
  }
}

@media only screen and (max-width: 450px) {
  .drink .answers .answers__info .info__item {
    width: 328px;
    padding: 24px 25px;
    margin-right: 0;
    margin-bottom: 16px;
  }
}

.drink .answers .answers__info .info__item:nth-child(3) {
  margin-right: 0;
}

.drink .answers .answers__info .info__item .info__title {
  font-family: "Fraunces", sans-serif;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 24px;
}

@media only screen and (max-width: 450px) {
  .drink .answers .answers__info .info__item .info__title {
    margin-bottom: 8px;
  }
}

.drink .answers .answers__info .info__item .info__text {
  line-height: 26px;
}

.drink .answers .answers__info .info__bgc {
  background-color: #0E8784;
  color: #FEFCF7;
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 85px;
}

@media only screen and (max-width: 770px) {
  .order {
    display: block;
    padding: 0 15px;
  }
}

.order__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media only screen and (max-width: 770px) {
  .order__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.order__write {
  background-color: #2C343E;
  padding: 27px 64px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 770px) {
  .order__write {
    padding: 27px 43px;
    border-radius: 8px;
  }
}

.order__title {
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  opacity: 0.5;
  margin-bottom: 8px;
}

.order__text {
  font-size: 24px;
  line-height: 40px;
  color: #fff;
  width: 602px;
  font-family: "Fraunces", sans-serif;
}

@media only screen and (max-width: 450px) {
  .order__text {
    width: 279px;
  }
}

.order__link {
  display: inline-block;
  font-size: 18px;
  line-height: 25px;
  padding: 15px 36px;
  background-color: #0E8784;
  color: #FEFCF7;
  border-radius: 6px;
  margin-bottom: 168px;
  font-family: "Fraunces", sans-serif;
  text-align: center;
  width: 220px;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

@media only screen and (max-width: 450px) {
  .order__link {
    margin-bottom: 120px;
  }
}

.order__link:hover {
  background-color: #66D2CF;
}

.order__link:active {
  background-color: #E2DEDB;
}

.madal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.madal__content {
  z-index: 20;
  width: 540px;
  background-color: #fff;
  border-radius: 8px;
}

.madal .modal__info {
  width: 428px;
  margin: 0 auto;
  margin-top: 57px;
}

.madal__title {
  padding: 48px 148px 40px 56px;
  border-radius: 8px 8px 0 0;
  background-color: #333D4B;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
  font-family: "Fraunces", sans-serif;
}

.madal__text {
  color: #83888F;
  font-size: 24px;
  line-height: 40px;
  font-family: "Fraunces", sans-serif;
  margin-bottom: 8px;
}

.madal__subtext {
  color: #333D4B;
  line-height: 26px;
  margin-bottom: 47px;
}

.madal .cost__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 56px;
}

.madal .cost__info .cost {
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
  font-family: "Fraunces", sans-serif;
}

.madal .cost__info .checkout {
  display: inline-block;
  padding: 16px 64px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 25px;
  font-family: "Fraunces", sans-serif;
  color: #FEFCF7;
  border: none;
  background-color: #0E8784;
  cursor: pointer;
  -webkit-transition: .5s ease all background-color;
  transition: .5s ease all background-color;
}

.madal .cost__info .checkout:hover {
  background-color: #66D2CF;
}

.madal .cost__info .checkout:active {
  background-color: #E2DEDB;
}

.active {
  visibility: visible;
  opacity: 1;
}
