.collection {
    position: relative;
    margin-top: 262px;
    
    
    
    .shadow__title {
        position: absolute;
        text-align: center;
        top: -40px;
        left: 0;
        right: 0;
        font-family: $font;
        color: #83888fbb;
        font-size: 150px;
        line-height: 72px;
        z-index: 10;
        
        @media only screen and (max-width: 1199px) {
            font-size: 120px;
        }
        @media only screen and (max-width: 998px) {
            font-size: 90px;
        }
        @media only screen and (max-width: 480px) {
            font-size: 36px;
        }
        
        &::before{
            content: '';
            background: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
            width: 100%;
            top: 0;
            right: 0;
            left: 0;
            height: 196px;
            position: absolute;
            z-index: 11;
            
            @media only screen and (max-width: 450px) {
                width: 286px;
                height: 72px;
            }
        }
        
    }
    
    &__list {
        position: relative;
        z-index: 20;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 200px;
        
        @media only screen and (max-width: 998px) {
            flex-wrap: wrap;

            &:nth-child(2){
                margin: 110px;
                padding: -110px;
            }
        }
    }
    
    &__item {
        text-align: center;
        
        @media only screen and (max-width: 998px) {
            margin-bottom: 50px;
        }

        
        img{
            margin-bottom: 71px;
        }
    }
    
    &__title {
        font-size: 24px;
        line-height: 32px;
        color: $color-dark;
        font-family: $font;
        // margin-top: 71px;
        margin-bottom: 24px;
    }
    
    &__text {
        width: 255px;
        font-size: 16px;
        line-height: 26px;
        color: $color-dark;
    }
    
    @media only screen  and (max-width: 770px) {
        
        .shadow__title {
            position: relative;
            top: 35px;
            font-size: 75px;
        }
        
        &__list {
            position: relative;
            z-index: 20;
            display: block;
            align-items: center;
            margin-bottom: 200px;
        }
        
        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            
            img{
                margin-bottom: 32px;
            }
        }
        
        &__text {
            margin-bottom: 32px;
        }
    }
    
    @media only screen  and (max-width: 565px){
        
        
        .shadow__title {
            position: absolute;
            font-size: 56px;
            top: -50px;    
            
            &::before{
                width: 100%;
                height: 72px;
            }
            
        }
        
        &__list {
            flex-direction: column;
            margin-bottom: 120px;
        }
        
        &__item {
            display: flex;
            flex-direction: column;
            img{
                margin-bottom: 71px;
            }
        }
        
        &__title {
            font-size: 24px;
            line-height: 32px;
            color: $color-dark;
            font-family: $font;
            // margin-top: 71px;
            margin-bottom: 24px;
        }
        
        &__text {
            width: 330px;
            font-size: 16px;
            line-height: 26px;
            color: $color-dark;
        }
    }
}

