.about {
    position: relative;
    &__intro {
        img{
            width: 100%;
            height: 450px;
            border-radius: 10px;

            @media only screen and(max-width: 375px) {
                height: 400px;
                object-fit: cover;
                object-position: right;
            }
        }
    }
    
    .about__write{
        position: absolute;
        width: 445px;
        top: 137px;
        left: 85px;
        color: $color-light;
        
        @media only screen and (max-width: 770px) {
            top: 118px;
            left: 58px;
        }

        @media only screen and(max-width: 375px) {
            width: 0;
            top: 111px;
            left: 24px;
        }
        
        .write__title{
            font-family: $font;
            font-size: 40px;
            line-height: 48px;
            margin: 0;
            margin-bottom: 24px;
            
            @media only screen and (max-width: 770px) {
                font-size: 32px;
                line-height: 40px;
            }

            @media only screen and(max-width: 375px) {
                text-align: center;
                width: 279px;
                margin-right: 0;
            }
        }
        .write__text{
            line-height: 26px;
            opacity: 0.8;
            
            @media only screen and (max-width: 770px) {
                width: 392px;
                font-size: 15px;
                line-height: 25px;
            }

            @media only screen and(max-width: 375px) {
                width: 279px;
                text-align: center;
            }
        }
    }
}
