.commitment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1110px;
    margin: 0 auto;
    margin-top: 168px;
    margin-bottom: 256px;

    @media only screen and (max-width: 770px) {
        width: 720px;
        padding: 0 15px;
        margin-bottom: 304px;
    }
    &__img {
        width: 445px;
        height: 520px;
        border-radius: 10px;

        @media only screen and (max-width: 770px) {
            width: 281px;
            height: 470px;
            object-fit: cover;
        }
    }

    
    &__title {
        font-family: $font;
        font-size: 40px;
        line-height: 48px;
        color: $color-dark;
        margin-bottom: 32px;
        @media only  screen and (max-width: 770px) {
            font-size: 32px;
            margin-bottom: 30px;
        }
    }
    
    &__text {
        width: 540px;
        line-height: 26px;
        opacity: .8;
        color: $color-dark;

        @media only  screen and (max-width: 770px) {
            width: 339px;
            font-size: 15px;
            line-height: 25px;
        }
    }
}
