.headquarters {
    width: 1110px;
    margin: 0 auto;
    



    @media only  screen and (max-width: 770px) {
        width: 720px;
        padding: 0 15px;
    }

    @media only screen and (max-width: 375px) {
        width: 327px;
        padding: 0;

    }
    
    &__title {
        font-family: $font;
        font-size: 24px;
        line-height: 32px;
        color: #83888F;
        margin-bottom: 72px;

        @media only screen and (max-width: 375px) {
            width: 327px;
            text-align: center;
        }
    }
    
    &__list {
        display: flex;
        margin-bottom: 168px;


        @media only screen and (max-width:770px){
            margin-bottom: 244px;
        }

        @media only screen and (max-width: 375px) {
            display: block;
        }
        
    }
    
    &__item {
        margin-right: 95px;
        width: 285px;
        height: 262px;

        @media only  screen and (max-width: 770px) {
            width: 223px;
            height: 104px;
            margin-right: 10px;
        }

        @media only screen and (max-width: 375px) {
            width: 327px;
            height: 262px;
            margin-bottom: 80px;
        }
        
        &::before{
            content: '';
            position: absolute;
            background-image: url(../../../img/about/headquarters-1.svg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 41px;
            height: 49px;

            @media only screen and (max-width: 375px) {
                left: 160px;
            }
        }
    }

    .canada{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            background-image: url(../../../img/about/headquarters-3.svg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 51px;
            height: 50px;
        }
    }
    .australia{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            background-image: url(../../../img/about/headquarters-2.svg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 49px;
            height: 44px;
        }
    }
    
    &__subtitle {
        font-family: $font;
        font-size: 32px;
        line-height: 36px;
        color: $color-dark;
        margin-bottom: 24px;
        margin-top: 95px;

        @media only  screen and (max-width: 770px) {
            font-size: 24px;
        }

        @media only screen and (max-width: 375px) {
            margin-top: 0;
            padding-top: 97px;
            text-align: center;
        }
    }
    
    &__subtext {
        line-height: 26px;
        
        @media only screen and (max-width: 375px) {
            text-align: center;
        }
    }
}
