.quality-bg{
    background-color: #2C343E;
    border-radius: 10px;
    height: 474px;
    margin-bottom: 168px;
    width: 100%;
    @media only screen and (max-width: 375px) {
        padding: 0;
    }
}

.quality {
    position: relative;
    display: flex;
    // justify-content: space-between;
    width: 1110px;
    margin: 0 auto;
    padding: 0 15px;

    @media only  screen and (max-width: 770px) {
        width: 100%;
        // padding: 0 15px;
    }

    @media only screen and (max-width: 375px) {
        padding: 0;
        width: 327px;
    }
    
    &__title {
        font-family: $font;
        font-size: 40px;
        line-height: 48px;
        color: $color-light;
        margin-bottom: 32px;
        margin-top: 88px;

        @media only  screen and (max-width: 770px) {
            margin-top: 224px;
            margin-bottom: 24px;
            font-size: 32px;
            // text-align: center;
            margin-left: 120px;
        }

        @media only screen and (max-width: 375px) {
            font-size: 28px;
            line-height: 28px;
            width: 327px;
            text-align: center;
            margin-left: 0;
            margin-top: 142px;
        }
    }
    
    &__text {
        width: 540px;
        color: $color-light;
        line-height: 26px;
        opacity: 0.8;

        @media only  screen and (max-width: 770px) {
            text-align: center;
            font-size: 15px;
            line-height: 25px;
            margin: 0 auto;
            margin-left: 65px;
        }

        @media only screen and (max-width: 375px) {
            width: 279px;
            margin-left: auto;

        }
    }
    
    &__img {
        img{
            position: absolute;
            border-radius: 10px;
            right: 0;
            top: -88px;

            @media only  screen and (max-width: 770px) {
                width: 573px;
                height: 320px;
                object-fit: cover;
                object-position: bottom;
                top: -160px;
                left: 45px;
            }

            @media only screen and (max-width: 375px) {
                width: 279px;
                height: 156px;
                top: -78px;
                left: 24px;
            }
        }
    }
}
