.create__intro {
    position: relative;
    margin-bottom: 177px;

    
    .create-bg{
        img{
            width: 100%;
            height: 450px;

            @media only screen and(max-width: 375px) {
                height: 400px;
            }
        }
    }
    
    .create__write{
        position: absolute;
        width: 445px;
        top: 137px;
        left: 85px;
        color: $color-light;

        @media only screen and(max-width: 375px) {
            top: 101px;
            left: 40px;
            width: 279px;
        }
        
        .create__title{
            font-family: $font;
            font-size: 40px;
            line-height: 48px;
            margin: 0;
            margin-bottom: 24px;

            @media only screen and(max-width: 375px) {
                line-height: 40px;
                text-align: center;
            }
        }
        .create__text{
            line-height: 26px;

            @media only screen and(max-width: 375px) {
                text-align: center;
                width: 279px;
            }
        }
    }
}