


.drink{
    display: flex;
    justify-content: space-between;
    padding: 0 55px;
    overflow: hidden;
    
    @media only screen and (max-width: 770px) {
        padding: 0 15px;
    }
    
    .menu{
        width: 255px;
        
        @media only screen and (max-width: 770px) {
            display: none;
        }
        
        &__item{
            border-bottom: 1px solid rgba(131, 136, 143, 0.25);
            
            .menu__btn{
                display: flex;
                align-items: center;
                border: none;
                background-color: transparent;
                font-size: 24px;
                line-height: 32px;
                font-family: $font;
                color: $color-dark;
                opacity: .4;
                padding-top: 24px;
                padding-bottom: 24px;
                cursor: pointer;
            }
            
            .menu__number{
                display: inline-block;
                margin-right: 28.5px;
                color: #83888F;
            }
            
            .color-syan{
                color: $dark-syan;
            }
            
            .menu__active{
                opacity: 1;
            }
        }
    }
    
    .answers{
        width: 730px;
        &__item{
            margin-bottom: 88px;
            
            
        }
        
        .answers__title{
            cursor: pointer;
            position: relative;
            font-size: 40px;
            line-height: 48px;
            color: #83888F;
            font-family: $font;
            margin-bottom: 56px;
            transition: color .3s ease-in,
            transform .3s ease-in;
            
            @media only screen and (max-width: 770px) {
                font-size: 32px;
            }

            @media only screen and(max-width: 450px) {
                font-size: 24px;
                line-height: 28px;
                width: 240px;
                margin-bottom: 32px;
            }
            
            &::after{
                content: '';
                position: absolute;
                width: 20px;
                height: 13px;
                background-image: url(../../../img/create-plan/drink.svg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                right: 0;
                top: 20px;
                transform: rotate(180deg);
                transition: transform .3s ease-in;

                @media only screen and(max-width: 450px) {
                    right: -88px;
                }
            }
        }
        .color-dark{
            color: $color-dark;
        }
        .answers__title.color-dark{
            &::after{
                transform: rotate(0);
            }
        }
        
        .answers__info{
            display: flex;


            @media only screen and(max-width: 450px) {
                display: block;
            }
            
            
            .info__item{
                width: 228px;
                margin-right: 23px;
                padding: 32px 28px 84px;
                background-color: #F4F1EB;
                border-radius: 8px;
                color: $color-dark;
                transition: .4s ease all;
                &:hover{
                    background-color: #FDD6BA;
                }
                
                @media only screen and (max-width: 770px) {
                    margin-right: 10px;
                    padding: 32px 25px 84px;
                }
                
                @media only screen and(max-width: 450px) {
                    width: 328px;
                    padding: 24px 25px;
                    margin-right: 0;
                    margin-bottom: 16px;
                }

                &:nth-child(3){
                    margin-right: 0;
                }
                
                .info__title{
                    font-family: $font;
                    font-size: 24px;
                    line-height: 32px;
                    margin-bottom: 24px;

                    @media only screen and(max-width: 450px) {
                        margin-bottom: 8px;
                    }
                }
                
                .info__text{
                    line-height: 26px;
                }
            }
            
            .info__bgc{
                background-color: $dark-syan;
                color: $color-light;
            }
        }
        .hide {
            display: none;
        }

        .show {
            display: flex;
        }
        .bounce-in-right {
            -webkit-animation: bounce-in-right 1.1s both;
            animation: bounce-in-right 1.1s both;
        }
        /* ----------------------------------------------
 * Generated by Animista on 2021-9-3 10:58:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

        /**
 * ----------------------------------------
 * animation bounce-in-right
 * ----------------------------------------
 */
        @-webkit-keyframes bounce-in-right {
            0% {
                -webkit-transform: translateX(600px);
                transform: translateX(600px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
                opacity: 0;
            }

            38% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
                opacity: 1;
            }

            55% {
                -webkit-transform: translateX(68px);
                transform: translateX(68px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }

            72% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
            }

            81% {
                -webkit-transform: translateX(32px);
                transform: translateX(32px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }

            90% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
            }

            95% {
                -webkit-transform: translateX(8px);
                transform: translateX(8px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }

            100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
            }
        }

        @keyframes bounce-in-right {
            0% {
                -webkit-transform: translateX(600px);
                transform: translateX(600px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
                opacity: 0;
            }

            38% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
                opacity: 1;
            }

            55% {
                -webkit-transform: translateX(68px);
                transform: translateX(68px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }

            72% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
            }

            81% {
                -webkit-transform: translateX(32px);
                transform: translateX(32px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }

            90% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
            }

            95% {
                -webkit-transform: translateX(8px);
                transform: translateX(8px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }

            100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
            }
        }

    }
}

