.drink{
    display: flex;
    justify-content: space-between;
    padding: 0 85px;
    
    @media only screen and (max-width: 770px) {
        padding: 0 15px;
    }
    
    .menu{
        width: 255px;
        
        @media only screen and (max-width: 770px) {
            display: none;
        }
        
        &__item{
            border-bottom: 1px solid rgba(131, 136, 143, 0.25);
            
            .menu__btn{
                display: flex;
                align-items: center;
                border: none;
                background-color: transparent;
                font-size: 24px;
                line-height: 32px;
                font-family: $font;
                color: $color-dark;
                opacity: .4;
                padding-top: 24px;
                padding-bottom: 24px;
                cursor: pointer;
            }
            
            .menu__number{
                display: inline-block;
                margin-right: 28.5px;
                color: #83888F;
            }
            
            .color-syan{
                color: $dark-syan;
            }
            
            .menu__active{
                opacity: 1;
            }
        }
    }
    
    .answers{
        
        &__item{
            margin-bottom: 88px;
            
            
        }
        
        .answers__title{
            position: relative;
            font-size: 40px;
            line-height: 48px;
            color: #83888F;
            font-family: $font;
            margin-bottom: 56px;
            
            @media only screen and (max-width: 770px) {
                font-size: 32px;
            }
            
            &::after{
                content: '';
                position: absolute;
                width: 20px;
                height: 13px;
                background-image: url(../../../img/create-plan/drink.svg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                right: 0;
                top: 20px;
            }
        }
        
        .answers__info{
            display: flex;
            
            
            .info__item{
                width: 228px;
                margin-right: 23px;
                padding: 32px 28px 84px;
                background-color: #F4F1EB;
                border-radius: 8px;
                color: $color-dark;
                transition: .4s ease all;
                &:hover{
                    background-color: #FDD6BA;
                }
                
                @media only screen and (max-width: 770px) {
                    margin-right: 10px;
                    padding: 32px 25px 84px;
                }
                
                &:nth-child(3){
                    margin-right: 0;
                }
                
                .info__title{
                    font-family: $font;
                    font-size: 24px;
                    line-height: 32px;
                    margin-bottom: 24px;
                }
                
                .info__text{
                    line-height: 26px;
                }
            }
            
            .info__bgc{
                background-color: $dark-syan;
                color: $color-light;
            }
        }
    }
}