
.works__create{
    background-color: #2C343E;
    padding: 91px 150px 107px 85px;
    margin-bottom: 159px;
    border-radius: 10px;
    .fc{
        color: $color-light;
    }

    @media only screen and(max-width: 450px) {
        padding: 80px 0;
    }
}

.elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 791px;
    height: 2px;
    background-color: #FDD6BA;
    margin-bottom: 67px;

    @media only screen and(max-width: 450px) {
            display: none;
    }
}
.element {
    display: inline-block;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    border: 2px solid #0E8784;
    box-sizing: border-box;
    background-color: #2C343E;
}

.element__bg{
    background-color: $color-light;
}

@media only screen and (max-width: 770px) {
    .elements {
        width: 497px;
        margin-bottom: 48px;
    }
}

@media only screen and (max-width: 770px) {
    .works__bg{
        border-radius: 10px;
        background-color: #2C343E;
        margin-top: 0;
    }

    .works__create{
        padding-left: 0;
    }

    @media only screen and(max-width: 450px) {
        
    }
}